Pandas Series
Creation of Series from list

In [11]:
import pandas as pd
import numpy as np

In [12]:
products=['A','B','C','D']
product_categories=pd.Series(products)
print(product_categories)
print(type(product_categories))

0    A
1    B
2    C
3    D
dtype: object
<class 'pandas.core.series.Series'>

In [14]:
daily_rate_dollars=pd.Series([10,20,30])
print(daily_rate_dollars)

0    10
1    20
2    30
dtype: int64

Creation of series from numpy array

In [18]:
import numpy as np
import pandas as pd

In [19]:
array_a=np.array([10,20,30,40])
array_series=pd.Series(array_a)
print(array_series)

0    10
1    20
2    30
3    40
dtype: int64

creation of series with mutable index

In [20]:
import pandas as pd

In [21]:
A=['apple','orange','watermelon']
A_series=pd.Series(A,index=['first','second','third'])
print(A_series)

first          apple
second        orange
third     watermelon
dtype: object

creation of series from dictionary

In [22]:
import pandas as pd

In [24]:
B={'name':'Hardik','age':30,'role':'captain'}
B_series=pd.Series(B)
print(B_series)

name     Hardik
age          30
role    captain
dtype: object

creation of series from scalar

In [25]:
import pandas as pd

In [29]:
C=5
C_series=pd.Series(5,index=[0,1,2,3,4,5])
print(C_series)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

Working with attributes of Series
1. .dtype
2. .size
3.  .name

In [30]:
import pandas as pd

In [33]:
product_categories=pd.Series([10,20,30,40])
print(product_categories.dtype)  #.dtype will return the datatype of series data

int64

In [34]:
food_categories=pd.Series(['biriyani','pizza','pasta'])
print(food_categories.dtype)

object

In [35]:
print(product_categories.size)

4

In [36]:
print(food_categories.size)

3

In [37]:
product_categories.name="product categories"
food_categories.name="food categories"
print(product_categories.name)
print(food_categories.name)
print(product_categories)
print(food_categories)

product categories
food categories
0    10
1    20
2    30
3    40
Name: product categories, dtype: int64
0    biriyani
1       pizza
2       pasta
Name: food categories, dtype: object

Convert the work_experience_years object from a Pandas Series into a NumPy array. Accomplish this task without overwriting the contents of work_experience_years.

To convert a series object to numpy array we can use ".to_numpy()" method

In [38]:
import numpy as np
import pandas as pd
work_experience_years=pd.Series([5,8,3,10])
work_experience_array=work_experience_years.to_numpy()
print(work_experience_array)

[ 5  8  3 10]

Using index in pandas  " .index " method

In [40]:
import pandas as pd
price={'product A':22250,'product B':16600,'product C':15600}
price_per_category=pd.Series(price)
print(price_per_category)

product A    22250
product B    16600
product C    15600
dtype: int64

In [41]:
print(price_per_category.index)

Index(['product A', 'product B', 'product C'], dtype='object')

In [42]:
print(type(price_per_category.index))

<class 'pandas.core.indexes.base.Index'>

working with indices

In [43]:
series_a=pd.Series([10,20,30,40])
price_per_category=pd.Series({'product A':22250,'product B':16350,'product C':25000})
print(series_a)
print(price_per_category)

0    10
1    20
2    30
3    40
dtype: int64
product A    22250
product B    16350
product C    25000
dtype: int64

In [45]:
print(series_a[0])
print(series_a[1])

10
20

In [48]:
print("Accessing through explicit indexing")
print(price_per_category['product A'])
print(price_per_category['product B'])

Accessing through explicit indexing
22250
16350

In [50]:
print("Accessing through implicit indexing...")
print(price_per_category[0])
print(price_per_category[1])

Accessing through implicit indexing...
22250
16350

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9924\578339654.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(price_per_category[0])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9924\578339654.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(price_per_category[1])

In [52]:
series_b=pd.Series([10,20,30,40],index=[1,2,3,4])
print(series_b)

1    10
2    20
3    30
4    40
dtype: int64

In [55]:
#here it is explicitly setting the index so the index values are 1,2,3,4
print(series_b[1])
print(series_b[2])

10
20

In [57]:
series_c=pd.Series([10,20,30,40],index=['1','2','3','4'])
print(series_c)

1    10
2    20
3    30
4    40
dtype: int64

In [58]:
print(series_c[0])
print(series_c[1])
print(series_c['1'])

10
20
10

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9924\2449895083.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_c[0])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9924\2449895083.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_c[1])

pandas methods

In [59]:
import pandas as pd
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [62]:
print(start_date_deposits)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [63]:
print(start_date_deposits.sum())
print(start_date_deposits.min())
print(start_date_deposits.max())
print(start_date_deposits.idxmax())
print(start_date_deposits.idxmin())

29500
1000
4000
9/3/2015
12/8/2012

In [64]:
#these are pandas specific methods
print(start_date_deposits.head())
print(start_date_deposits.tail())

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64
7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

In [65]:
print(start_date_deposits.head(3))

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [66]:
print(start_date_deposits.head(10))

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

Pandas DataFrames

Creating a dataframe a dictionary of lists

In [67]:
import pandas as pd

In [68]:
data={'products name':['product A','product B','product C'],'product price':[10000,20000,30000]}
df=pd.DataFrame(data)
print(df)

  products name  product price
0     product A          10000
1     product B          20000
2     product C          30000

Creating a dataframe a dictionary of lists+specific index

In [69]:
data={'products name':['product A','product B','product C'],'product price':[10000,20000,30000]}
df=pd.DataFrame(data,index=['A','B','C'])
print(df)

  products name  product price
A     product A          10000
B     product B          20000
C     product C          30000

In [70]:
data={'products name':['product A','product B','product C'],'product price':[10000,20000,30000]}
product_index=['A','B','C']
df=pd.DataFrame(data,index=product_index)
print(df)

  products name  product price
A     product A          10000
B     product B          20000
C     product C          30000

Creating Dataframe from list of dictionaries

In [71]:
data=[{'product name':'product A','product prize':10000},
       {'product name':'product B','product prize':20000},
       {'product name':'product C','product prize':30000}
     ]
df=pd.DataFrame(data)
print(df)

  product name  product prize
0    product A          10000
1    product B          20000
2    product C          30000

In [72]:
data=[{'product name':'product A','product prize':10000},
       {'product name':'product B','product prize':20000},
       {'product name':'product C','product prize':[30000,50000]}
     ]
df=pd.DataFrame(data)
print(df)

  product name   product prize
0    product A           10000
1    product B           20000
2    product C  [30000, 50000]

Creating a Dataframe from a dictionary of pandas series

In [75]:
series_product=pd.Series(['product A','product B','product C'])
series_price=pd.Series([10000,20000,30000])
print(series_product)
print(series_price)

0    product A
1    product B
2    product C
dtype: object
0    10000
1    20000
2    30000
dtype: int64

In [76]:
data={'product name':series_product,'product price':series_price}
df=pd.DataFrame(data)
print(df)

  product name  product price
0    product A          10000
1    product B          20000
2    product C          30000

Creating a Dataframe from a dictionary of pandas series+indices

In [77]:
series_product=pd.Series(['product A','product B','product C'],index=['A','B','C'])
series_price=pd.Series([10000,20000,30000],index=['A','B','C'])
data={'product name':series_product,'product price':series_price}
df=pd.DataFrame(data)
print(df)

  product name  product price
A    product A          10000
B    product B          20000
C    product C          30000

In [78]:
series_product=pd.Series(['product A','product B','product C'],index=['A','B','C'])
series_price=pd.Series([10000,20000,30000],index=['C','B','A'])
data={'product name':series_product,'product price':series_price}
df=pd.DataFrame(data)
print(df)

  product name  product price
A    product A          30000
B    product B          20000
C    product C          10000

Creation of DataFrame from list of lists

In [79]:
data=[['product A',10000],['product B',20000],['product C',30000]]
df=pd.DataFrame(data)
print(df)

           0      1
0  product A  10000
1  product B  20000
2  product C  30000

In [80]:
#this method also includes NaN if there is a null or missing value
data=[['product A',10000],['product B',20000],['product C']]
df=pd.DataFrame(data)
print(df)

           0        1
0  product A  10000.0
1  product B  20000.0
2  product C      NaN

In [85]:
#we have to set column and indices in this method
df.columns=['product name','product price']
df.index=['A','B','C']
print(df)

  product name  product price
A    product A        10000.0
B    product B        20000.0
C    product C            NaN

Creating a DataFrame in a professional way

In [87]:
df=pd.DataFrame(data=[['product A',10000],['product B',20000],['product C',30000]],columns=['Product Name','product price'],index=['A','B','C'])
print(df)

  Product Name  product price
A    product A          10000
B    product B          20000
C    product C          30000

In [88]:
df.shape

(3, 2)