pandas series .unique() &.nunique():
unique() and nunique() are two methods in Pandas used to identify and count unique values within a Series or DataFrame.
1.unique():
Returns a NumPy array of the unique values in a Series.
It preserves the order of the unique values based on their first appearance. 
It includes NaN values in the output.
It is useful for identifying distinct values in a column, especially when working with categorical data or detecting outliers. 
2.nunique():
Returns the number of unique values in a Series or DataFrame.
It can be applied to a Series or along the axes of a DataFrame.
By default, it excludes NaN values from the count.
It is useful for quickly determining the number of distinct values in a column

3 .squeeze() :-used to convert the data to a pandas Series instead of a DataFrame if the data consists of a single column.
4. .copy() -used to copy a series to another variable.
5. .describe() :-The .describe() method in pandas is used to generate descriptive statistics of a DataFrame or Series

In [2]:
import pandas as pd

In [5]:
#.squeeze() :-used to convert the data to a pandas Series instead of a DataFrame if the data consists of a single column.
filename=r"D:\dataanalyst\Data Analyst Course\S17 - pandas Series\Location.csv"
data=pd.read_csv(filename)
location_data=data.squeeze().copy()
print(location_data.head())

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [6]:
print(type(location_data))

<class 'pandas.core.series.Series'>

In [7]:
print(location_data.describe())

count            1043
unique            296
top       Location 25
freq               31
Name: Location, dtype: object

In [8]:
len(location_data)

1043

In [10]:
location_data.nunique()

296

In [11]:
type(location_data.nunique())

int

In [12]:
location_data.unique()

array(['Location 3', 'Location 6', 'Location 8', 'Location 26',
       'Location 34', 'Location 25', 'Location 46', 'Location 156',
       'Location 21', 'Location 13', 'Location 579', 'Location 602',
       'Location 10', 'Location 44', 'Location 30', 'Location 48',
       'Location 196', 'Location 64', 'Location 91', 'Location 62',
       'Location 75', 'Location 42', 'Location 233', 'Location 95',
       'Location 78', 'Location 61', 'Location 87', 'Location 19',
       'Location 115', 'Location 350', 'Location 377', 'Location 17',
       'Location 113', 'Location 81', 'Location 58', 'Location 212',
       'Location 53', 'Location 337', 'Location 41', 'Location 632',
       'Location 73', 'Location 214', 'Location 218', 'Location 38',
       'Location 172', 'Location 197', 'Location 101', 'Location 185',
       'Location 129', 'Location 235', 'Location 142', 'Location 50',
       'Location 76', 'Location 11', 'Location 33', 'Location 22',
       'Location 145', 'Location 203', 'Location 94', 'Location 573',
       'Location 27', 'Location 186', 'Location 4', 'Location 70',
       'Location 45', 'Location 262', 'Location 111', 'Location 84',
       'Location 108', 'Location 7', 'Location 74', 'Location 450',
       'Location 47', 'Location 37', 'Location 43', 'Location 286',
       'Location 89', 'Location 24', 'Location 97', 'Location 144',
       'Location 40', 'Location 128', 'Location 169', 'Location 399',
       'Location 23', 'Location 191', 'Location 178', 'Location 510',
       'Location 600', 'Location 188', 'Location 67', 'Location 49',
       'Location 29', 'Location 222', 'Location 386', 'Location 88',
       'Location 104', 'Location 405', 'Location 114', 'Location 259',
       'Location 182', 'Location 12', 'Location 228', 'Location 149',
       'Location 90', 'Location 109', 'Location 441', 'Location 421',
       'Location 641', 'Location 195', 'Location 20', 'Location 161',
       'Location 117', 'Location 200', 'Location 106', 'Location 31',
       'Location 122', 'Location 541', 'Location 495', 'Location 193',
       'Location 39', 'Location 9', 'Location 86', 'Location 107',
       'Location 198', 'Location 318', 'Location 135', 'Location 177',
       'Location 32', 'Location 591', 'Location 488', 'Location 418',
       'Location 587', 'Location 454', 'Location 543', 'Location 489',
       'Location 60', 'Location 52', 'Location 548', 'Location 15',
       'Location 240', 'Location 658', 'Location 209', 'Location 151',
       'Location 192', 'Location 364', 'Location 18', 'Location 503',
       'Location 482', 'Location 460', 'Location 71', 'Location 69',
       'Location 258', 'Location 204', 'Location 124', 'Location 168',
       'Location 35', 'Location 296', 'Location 136', 'Location 28',
       'Location 153', 'Location 99', 'Location 132', 'Location 427',
       'Location 118', 'Location 127', 'Location 159', 'Location 154',
       'Location 175', 'Location 120', 'Location 82', 'Location 152',
       'Location 56', 'Location 282', 'Location 566', 'Location 365',
       'Location 353', 'Location 66', 'Location 2', 'Location 323',
       'Location 473', 'Location 206', 'Location 57', 'Location 68',
       'Location 166', 'Location 1', 'Location 227', 'Location 79',
       'Location 642', 'Location 105', 'Location 644', 'Location 547',
       'Location 637', 'Location 59', 'Location 574', 'Location 529',
       'Location 554', 'Location 275', 'Location 589', 'Location 160',
       'Location 410', 'Location 146', 'Location 221', 'Location 265',
       'Location 569', 'Location 157', 'Location 648', 'Location 165',
       'Location 651', 'Location 266', 'Location 77', 'Location 158',
       'Location 336', 'Location 72', 'Location 463', 'Location 253',
       'Location 5', 'Location 431', 'Location 515', 'Location 226',
       'Location 140', 'Location 110', 'Location 202', 'Location 634',
       'Location 138', 'Location 217', 'Location 443', 'Location 627',
       'Location 123', 'Location 528', 'Location 357', 'Location 187',
       'Location 315', 'Location 112', 'Location 302', 'Location 194',
       'Location 332', 'Location 208', 'Location 179', 'Location 199',
       'Location 201', 'Location 174', 'Location 474', 'Location 184',
       'Location 63', 'Location 512', 'Location 403', 'Location 436',
       'Location 210', 'Location 468', 'Location 464', 'Location 98',
       'Location 102', 'Location 325', 'Location 267', 'Location 173',
       'Location 617', 'Location 141', 'Location 300', 'Location 216',
       'Location 506', 'Location 647', 'Location 402', 'Location 239',
       'Location 54', 'Location 137', 'Location 477', 'Location 586',
       'Location 472', 'Location 374', 'Location 458', 'Location 180',
       'Location 653', 'Location 16', 'Location 612', 'Location 505',
       'Location 631', 'Location 299', 'Location 65', 'Location 342',
       'Location 155', 'Location 511', 'Location 461', 'Location 244',
       'Location 207', 'Location 597', 'Location 352', 'Location 533',
       'Location 384', 'Location 80', 'Location 171', 'Location 143',
       'Location 576', 'Location 139', 'Location 125', 'Location 181'],
      dtype=object)

In [13]:
type(location_data.unique())

numpy.ndarray

In [ ]:
repeating same thing

In [14]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S17 - pandas Series\Location.csv"
data=pd.read_csv(filename)
location_data=data.squeeze().copy()
print(location_data.head())

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [15]:
print(location_data.describe())

count            1043
unique            296
top       Location 25
freq               31
Name: Location, dtype: object

In [16]:
len(location_data)

1043

In [17]:
location_data.nunique()

296

In [18]:
location_data.unique()

array(['Location 3', 'Location 6', 'Location 8', 'Location 26',
       'Location 34', 'Location 25', 'Location 46', 'Location 156',
       'Location 21', 'Location 13', 'Location 579', 'Location 602',
       'Location 10', 'Location 44', 'Location 30', 'Location 48',
       'Location 196', 'Location 64', 'Location 91', 'Location 62',
       'Location 75', 'Location 42', 'Location 233', 'Location 95',
       'Location 78', 'Location 61', 'Location 87', 'Location 19',
       'Location 115', 'Location 350', 'Location 377', 'Location 17',
       'Location 113', 'Location 81', 'Location 58', 'Location 212',
       'Location 53', 'Location 337', 'Location 41', 'Location 632',
       'Location 73', 'Location 214', 'Location 218', 'Location 38',
       'Location 172', 'Location 197', 'Location 101', 'Location 185',
       'Location 129', 'Location 235', 'Location 142', 'Location 50',
       'Location 76', 'Location 11', 'Location 33', 'Location 22',
       'Location 145', 'Location 203', 'Location 94', 'Location 573',
       'Location 27', 'Location 186', 'Location 4', 'Location 70',
       'Location 45', 'Location 262', 'Location 111', 'Location 84',
       'Location 108', 'Location 7', 'Location 74', 'Location 450',
       'Location 47', 'Location 37', 'Location 43', 'Location 286',
       'Location 89', 'Location 24', 'Location 97', 'Location 144',
       'Location 40', 'Location 128', 'Location 169', 'Location 399',
       'Location 23', 'Location 191', 'Location 178', 'Location 510',
       'Location 600', 'Location 188', 'Location 67', 'Location 49',
       'Location 29', 'Location 222', 'Location 386', 'Location 88',
       'Location 104', 'Location 405', 'Location 114', 'Location 259',
       'Location 182', 'Location 12', 'Location 228', 'Location 149',
       'Location 90', 'Location 109', 'Location 441', 'Location 421',
       'Location 641', 'Location 195', 'Location 20', 'Location 161',
       'Location 117', 'Location 200', 'Location 106', 'Location 31',
       'Location 122', 'Location 541', 'Location 495', 'Location 193',
       'Location 39', 'Location 9', 'Location 86', 'Location 107',
       'Location 198', 'Location 318', 'Location 135', 'Location 177',
       'Location 32', 'Location 591', 'Location 488', 'Location 418',
       'Location 587', 'Location 454', 'Location 543', 'Location 489',
       'Location 60', 'Location 52', 'Location 548', 'Location 15',
       'Location 240', 'Location 658', 'Location 209', 'Location 151',
       'Location 192', 'Location 364', 'Location 18', 'Location 503',
       'Location 482', 'Location 460', 'Location 71', 'Location 69',
       'Location 258', 'Location 204', 'Location 124', 'Location 168',
       'Location 35', 'Location 296', 'Location 136', 'Location 28',
       'Location 153', 'Location 99', 'Location 132', 'Location 427',
       'Location 118', 'Location 127', 'Location 159', 'Location 154',
       'Location 175', 'Location 120', 'Location 82', 'Location 152',
       'Location 56', 'Location 282', 'Location 566', 'Location 365',
       'Location 353', 'Location 66', 'Location 2', 'Location 323',
       'Location 473', 'Location 206', 'Location 57', 'Location 68',
       'Location 166', 'Location 1', 'Location 227', 'Location 79',
       'Location 642', 'Location 105', 'Location 644', 'Location 547',
       'Location 637', 'Location 59', 'Location 574', 'Location 529',
       'Location 554', 'Location 275', 'Location 589', 'Location 160',
       'Location 410', 'Location 146', 'Location 221', 'Location 265',
       'Location 569', 'Location 157', 'Location 648', 'Location 165',
       'Location 651', 'Location 266', 'Location 77', 'Location 158',
       'Location 336', 'Location 72', 'Location 463', 'Location 253',
       'Location 5', 'Location 431', 'Location 515', 'Location 226',
       'Location 140', 'Location 110', 'Location 202', 'Location 634',
       'Location 138', 'Location 217', 'Location 443', 'Location 627',
       'Location 123', 'Location 528', 'Location 357', 'Location 187',
       'Location 315', 'Location 112', 'Location 302', 'Location 194',
       'Location 332', 'Location 208', 'Location 179', 'Location 199',
       'Location 201', 'Location 174', 'Location 474', 'Location 184',
       'Location 63', 'Location 512', 'Location 403', 'Location 436',
       'Location 210', 'Location 468', 'Location 464', 'Location 98',
       'Location 102', 'Location 325', 'Location 267', 'Location 173',
       'Location 617', 'Location 141', 'Location 300', 'Location 216',
       'Location 506', 'Location 647', 'Location 402', 'Location 239',
       'Location 54', 'Location 137', 'Location 477', 'Location 586',
       'Location 472', 'Location 374', 'Location 458', 'Location 180',
       'Location 653', 'Location 16', 'Location 612', 'Location 505',
       'Location 631', 'Location 299', 'Location 65', 'Location 342',
       'Location 155', 'Location 511', 'Location 461', 'Location 244',
       'Location 207', 'Location 597', 'Location 352', 'Location 533',
       'Location 384', 'Location 80', 'Location 171', 'Location 143',
       'Location 576', 'Location 139', 'Location 125', 'Location 181'],
      dtype=object)

In [19]:
location_data.name

'Location'

In [20]:
location_data.dtype

dtype('O')

Pandas series  .values, .array, .to_numpy()
these convert pandas element into numpy array
.values are not used now...pandas developers now promote .array and .to_numpy() functions

In [21]:
import pandas as pd

In [23]:
prices_per_category=pd.Series({'product A':22500,'product B':33500,'product C':5500})
print(prices_per_category)

product A    22500
product B    33500
product C     5500
dtype: int64

In [24]:
print(prices_per_category.values)

[22500 33500  5500]

In [25]:
print(type(prices_per_category.values))

<class 'numpy.ndarray'>

In [26]:
print(prices_per_category.array)

<NumpyExtensionArray>
[np.int64(22500), np.int64(33500), np.int64(5500)]
Length: 3, dtype: int64

In [27]:
print(type(prices_per_category.array))

<class 'pandas.core.arrays.numpy_.NumpyExtensionArray'>

In [28]:
print(prices_per_category.to_numpy())

[22500 33500  5500]

In [29]:
print(type(prices_per_category.to_numpy()))

<class 'numpy.ndarray'>

In [30]:
print(prices_per_category.values[0])

22500

In [31]:
print(prices_per_category.array[0])

22500

In [32]:
print(prices_per_category.to_numpy(float))

[22500. 33500.  5500.]

In [34]:
print(prices_per_category.to_numpy()[0])

22500

pandas series .sort_values()

In [35]:
import pandas as pd

In [36]:
data_series=pd.Series([10,15,1,10000,9,50])
print(data_series.sort_values)

<bound method Series.sort_values of 0       10
1       15
2        1
3    10000
4        9
5       50
dtype: int64>

In [37]:
data_series.sort_values(ascending=True)

2        1
4        9
0       10
1       15
5       50
3    10000
dtype: int64

In [39]:
data_series.sort_values(ascending=False)

3    10000
5       50
1       15
0       10
4        9
2        1
dtype: int64

In [47]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S17 - pandas Series\Location.csv"
data=pd.read_csv(filename)
location_data=data.squeeze().copy()
print(location_data)

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [48]:
print(location_data.sort_values())

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [49]:
print(location_data.sort_values(ascending=True))

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [50]:
print(location_data.sort_values(ascending=False))

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

Attribute and method chaining

method chaining:
-organises and applies several method calls on a certain object in a given order.
-each call performs its action and returns an intermediate output.
-every next method from the chain respects the value returned by the previous one.
-we are not required to explicitly store intermediate output/result
-thus method chaining saves you the time necessary for creating a variable and thinking of a relevant name.

In [51]:
import pandas as  pd
filename=r"D:\dataanalyst\Data Analyst Course\S17 - pandas Series\Location.csv"
data=pd.read_csv(filename)
location_data=data.squeeze().copy()
print(location_data)

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [52]:
location_data.index

RangeIndex(start=0, stop=1043, step=1)

In [53]:
location_data.name

'Location'

In [55]:
location_data.index.name='Index'

In [56]:
location_data.index.name

'Index'

In [58]:
location_data.sort_values()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [59]:
location_data.sort_values().head()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
Name: Location, dtype: object

In [60]:
location_data.sort_values().tail()

Index
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, dtype: object

In [61]:
location_data.index

RangeIndex(start=0, stop=1043, step=1, name='Index')

In [62]:
location_data.index.to_numpy()

array([   0,    1,    2, ..., 1040, 1041, 1042], shape=(1043,))

pandas series .sort_index

In [64]:
import pandas as  pd
filename=r"D:\dataanalyst\Data Analyst Course\S17 - pandas Series\Location.csv"
data=pd.read_csv(filename)
location_data=data.squeeze().copy()
print(location_data)

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [66]:
print(location_data.sort_values())

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [67]:
print(location_data.sort_index())

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

pandas DataFrame

In [82]:
import numpy as np
import pandas as pd
array_a=np.array([[6,2,1],[5,6,7]])
data=pd.DataFrame(array_a,columns=['column1','column2','column3'])
print(data)
print(type(data))

   column1  column2  column3
0        6        2        1
1        5        6        7
<class 'pandas.core.frame.DataFrame'>

In [81]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S10 - Working with Text Files\L11\Lending-company.csv"
data=pd.read_csv(filename,index_col='LoanID')
location_data=data.copy()

print(location_data.head())

        StringID    Product CustomerGender     Location    Region  TotalPrice  \
LoanID
1       LoanID_1  Product B         Female   Location 3  Region 2     17600.0
2       LoanID_2  Product D         Female   Location 6  Region 6         NaN
3       LoanID_3  Product B           Male   Location 8  Region 3     16600.0
4       LoanID_4  Product A           Male  Location 26  Region 2     17600.0
5       LoanID_5  Product B         Female  Location 34  Region 3     21250.0

         StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  \
LoanID
1       04/07/2018     2200         45          365       3221       4166
2       02/01/2019     2200         45          365       3161       4096
3       08/12/2016     1000         45          365       2260       3205
4              NaN     2200         45          365       3141       4166
5       28/10/2017     2200         55          365       3570       4745

        AmtPaid360 LoanStatus
LoanID
1            14621     Active
2            16041     Active
3            16340        NaN
4            16321     Active
5            14720     Active

In [83]:
print(type(location_data))

<class 'pandas.core.frame.DataFrame'>

pandas dataframe attributes
1. .index
2.  .columns
3.  .axes   :it will give both index and column
4.  .dtypes  :return the dtype of each column
5.  .values
6.  .to_numpy()
7.  .shape

In [87]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S10 - Working with Text Files\L11\Lending-company.csv"
data=pd.read_csv(filename,index_col='LoanID')
lending_co_data=data.copy()
print(lending_co_data.head())

        StringID    Product CustomerGender     Location    Region  TotalPrice  \
LoanID
1       LoanID_1  Product B         Female   Location 3  Region 2     17600.0
2       LoanID_2  Product D         Female   Location 6  Region 6         NaN
3       LoanID_3  Product B           Male   Location 8  Region 3     16600.0
4       LoanID_4  Product A           Male  Location 26  Region 2     17600.0
5       LoanID_5  Product B         Female  Location 34  Region 3     21250.0

         StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  \
LoanID
1       04/07/2018     2200         45          365       3221       4166
2       02/01/2019     2200         45          365       3161       4096
3       08/12/2016     1000         45          365       2260       3205
4              NaN     2200         45          365       3141       4166
5       28/10/2017     2200         55          365       3570       4745

        AmtPaid360 LoanStatus
LoanID
1            14621     Active
2            16041     Active
3            16340        NaN
4            16321     Active
5            14720     Active

In [88]:
lending_co_data.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
      dtype='int64', name='LoanID', length=1043)

In [89]:
lending_co_data.columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [90]:
lending_co_data.axes

[Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
        ...
        1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
       dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
        'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
       dtype='object')]

In [91]:
lending_co_data.values

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], shape=(1043, 14), dtype=object)

In [92]:
lending_co_data.to_numpy()

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], shape=(1043, 14), dtype=object)

In [93]:
lending_co_data.shape

(1043, 14)

In [95]:
lending_co_data.dtypes

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

Dataselection in pandas dataframe

Dataselection means to extract information from a sepcific row,column or from a portion of dataset.

In [96]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S10 - Working with Text Files\L11\Lending-company.csv"
data=pd.read_csv(filename,index_col='LoanID')
lending_co_data=data.copy()
print(lending_co_data.head())

        StringID    Product CustomerGender     Location    Region  TotalPrice  \
LoanID
1       LoanID_1  Product B         Female   Location 3  Region 2     17600.0
2       LoanID_2  Product D         Female   Location 6  Region 6         NaN
3       LoanID_3  Product B           Male   Location 8  Region 3     16600.0
4       LoanID_4  Product A           Male  Location 26  Region 2     17600.0
5       LoanID_5  Product B         Female  Location 34  Region 3     21250.0

         StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  \
LoanID
1       04/07/2018     2200         45          365       3221       4166
2       02/01/2019     2200         45          365       3161       4096
3       08/12/2016     1000         45          365       2260       3205
4              NaN     2200         45          365       3141       4166
5       28/10/2017     2200         55          365       3570       4745

        AmtPaid360 LoanStatus
LoanID
1            14621     Active
2            16041     Active
3            16340        NaN
4            16321     Active
5            14720     Active

In [98]:
print(lending_co_data.Location)

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [99]:
print(lending_co_data.Product)

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [100]:
print(lending_co_data.Region)

LoanID
1       Region 2
2       Region 6
3       Region 3
4       Region 2
5       Region 3
          ...
1039    Region 6
1040    Region 1
1041    Region 4
1042    Region 6
1043    Region 6
Name: Region, Length: 1043, dtype: object

In [101]:
print(lending_co_data['Location'])

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [102]:
print(lending_co_data['Region'])

LoanID
1       Region 2
2       Region 6
3       Region 3
4       Region 2
5       Region 3
          ...
1039    Region 6
1040    Region 1
1041    Region 4
1042    Region 6
1043    Region 6
Name: Region, Length: 1043, dtype: object

In [103]:
print(type(lending_co_data['Region']))

<class 'pandas.core.series.Series'>

In [104]:
lending_co_data[['Region']]

          Region
LoanID
1       Region 2
2       Region 6
3       Region 3
4       Region 2
5       Region 3
...          ...
1039    Region 6
1040    Region 1
1041    Region 4
1042    Region 6
1043    Region 6

[1043 rows x 1 columns]

In [105]:
type(lending_co_data[['Region']])

pandas.core.frame.DataFrame

In [109]:
lending_co_data[['Location','Product']].head()

           Location    Product
LoanID
1        Location 3  Product B
2        Location 6  Product D
3        Location 8  Product B
4       Location 26  Product A
5       Location 34  Product B

In [108]:
prod_loc=['Location','Product']
lending_co_data[prod_loc].head()

           Location    Product
LoanID
1        Location 3  Product B
2        Location 6  Product D
3        Location 8  Product B
4       Location 26  Product A
5       Location 34  Product B

Pandas Dataframe .iloc

In [110]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S10 - Working with Text Files\L11\Lending-company.csv"
data=pd.read_csv(filename,index_col='LoanID')
lending_co_data=data.copy()
print(lending_co_data.head())

        StringID    Product CustomerGender     Location    Region  TotalPrice  \
LoanID
1       LoanID_1  Product B         Female   Location 3  Region 2     17600.0
2       LoanID_2  Product D         Female   Location 6  Region 6         NaN
3       LoanID_3  Product B           Male   Location 8  Region 3     16600.0
4       LoanID_4  Product A           Male  Location 26  Region 2     17600.0
5       LoanID_5  Product B         Female  Location 34  Region 3     21250.0

         StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  \
LoanID
1       04/07/2018     2200         45          365       3221       4166
2       02/01/2019     2200         45          365       3161       4096
3       08/12/2016     1000         45          365       2260       3205
4              NaN     2200         45          365       3141       4166
5       28/10/2017     2200         55          365       3570       4745

        AmtPaid360 LoanStatus
LoanID
1            14621     Active
2            16041     Active
3            16340        NaN
4            16321     Active
5            14720     Active

In [112]:
lending_co_data.iloc[0]   #iloc[row,column]

StringID            LoanID_1
Product            Product B
CustomerGender        Female
Location          Location 3
Region              Region 2
TotalPrice           17600.0
StartDate         04/07/2018
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3221
AmtPaid60               4166
AmtPaid360             14621
LoanStatus            Active
Name: 1, dtype: object

In [113]:
lending_co_data.iloc[0,3]

'Location 3'

In [117]:
lending_co_data.iloc[1,:]

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [118]:
lending_co_data.iloc[:,3]

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [119]:
type(lending_co_data.iloc[1,:])

pandas.core.series.Series

In [120]:
type(lending_co_data.iloc[0,3])

str

In [121]:
type(lending_co_data.iloc[:,3])

pandas.core.series.Series

In [122]:
lending_co_data.iloc[[1,3],:]

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [124]:
lending_co_data.iloc[:,[1,2,3]]

          Product CustomerGender     Location
LoanID
1       Product B         Female   Location 3
2       Product D         Female   Location 6
3       Product B           Male   Location 8
4       Product A           Male  Location 26
5       Product B         Female  Location 34
...           ...            ...          ...
1039    Product B           Male  Location 73
1040    Product A           Male  Location 82
1041    Product A   NotSpecified  Location 11
1042    Product B         Female  Location 26
1043    Product A   NotSpecified  Location 94

[1043 rows x 3 columns]

Data Selection - Indexing with .iloc[] - Exercise #4
The pandas library has been imported with its conventional alias, and pandas display options relevant for full result visibility have been set.
The data from 'Sales-products-100.csv' has been loaded into an object called data, and a copy of it has been stored in a variable named sales_products_data.



Use a pandas integer-location based accessor to retrieve the value located in the second row of the 'ProductType' column in the sales_products_data DataFrame.

If you've worked correctly, you should obtain Cooking Gear.

Note: To retrieve the desired output, use a two-dimensional indexer—that is, two values inside the brackets [] of the accessor—instead of chaining two one-dimensional indexers ([][],  also called chained indexing). The latter approach is more error-prone, for example if the column order changes.



Please don't forget to use the print() function to display the desired output.

In [126]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)
filename=r"D:\dataanalyst\Data Analyst Course\S18 - pandas DataFrames\Sales-products.csv"
data = pd.read_csv(filename)
sales_products_data = data.copy()
print(sales_products_data.iloc[1,sales_products_data.columns.get_loc('ProductType')])

Cooking Gear

Data Selection - Indexing with .iloc[] - Exercise #8
The pandas library has been imported with its conventional alias, and pandas display options relevant for full result visibility have been set.
The data from 'Sales-products-100.csv' has been loaded into an object called data, and a copy of it has been stored in a variable named sales_products_data.



Prove that .iloc[] can be used with a Series, not just a DataFrame. To do this, retrieve the first element from the 'Product' column in sales_products_data.

If you've worked correctly, you should obtain TrailChef Deluxe Cook Set.

Note: To retrieve the desired output, use the pandas integer-location based accessor on the relevant Series—instead of chaining two one-dimensional indexers ([][]). The latter approach is more error-prone (for example, if the column order changes), and is best reserved for quick data exploration or simple, read-only cases.

In [127]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)
filename=r"D:\dataanalyst\Data Analyst Course\S18 - pandas DataFrames\Sales-products.csv"
data = pd.read_csv(filename)
sales_products_data = data.copy()
print(sales_products_data.iloc[0,sales_products_data.columns.get_loc('Product')])

TrailChef Deluxe Cook Set

pandas .loc

In [132]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S10 - Working with Text Files\L11\Lending-company.csv"
data=pd.read_csv(filename,index_col='StringID')
lending_co_data=data.copy()
print(lending_co_data.head())

          LoanID    Product CustomerGender     Location    Region  TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  AmtPaid360 LoanStatus
StringID
LoanID_1       1  Product B         Female   Location 3  Region 2     17600.0  04/07/2018     2200         45          365       3221       4166       14621     Active
LoanID_2       2  Product D         Female   Location 6  Region 6         NaN  02/01/2019     2200         45          365       3161       4096       16041     Active
LoanID_3       3  Product B           Male   Location 8  Region 3     16600.0  08/12/2016     1000         45          365       2260       3205       16340        NaN
LoanID_4       4  Product A           Male  Location 26  Region 2     17600.0         NaN     2200         45          365       3141       4166       16321     Active
LoanID_5       5  Product B         Female  Location 34  Region 3     21250.0  28/10/2017     2200         55          365       3570       4745       14720     Active

In [133]:
lending_co_data.loc['LoanID_1']

LoanID                     1
Product            Product B
CustomerGender        Female
Location          Location 3
Region              Region 2
TotalPrice           17600.0
StartDate         04/07/2018
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3221
AmtPaid60               4166
AmtPaid360             14621
LoanStatus            Active
Name: LoanID_1, dtype: object

In [134]:
lending_co_data.loc['LoanID_2']

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [135]:
lending_co_data.loc['LoanID_1','Region']

'Region 2'

In [136]:
lending_co_data.loc[:,'Region']

StringID
LoanID_1       Region 2
LoanID_2       Region 6
LoanID_3       Region 3
LoanID_4       Region 2
LoanID_5       Region 3
                 ...
LoanID_1039    Region 6
LoanID_1040    Region 1
LoanID_1041    Region 4
LoanID_1042    Region 6
LoanID_1043    Region 6
Name: Region, Length: 1043, dtype: object

A few comments on .loc and .iloc

In [137]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S10 - Working with Text Files\L11\Lending-company.csv"
data=pd.read_csv(filename,index_col='LoanID')
lending_co_data=data.copy()
print(lending_co_data.head())

        StringID    Product CustomerGender     Location    Region  TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  AmtPaid360 LoanStatus
LoanID
1       LoanID_1  Product B         Female   Location 3  Region 2     17600.0  04/07/2018     2200         45          365       3221       4166       14621     Active
2       LoanID_2  Product D         Female   Location 6  Region 6         NaN  02/01/2019     2200         45          365       3161       4096       16041     Active
3       LoanID_3  Product B           Male   Location 8  Region 3     16600.0  08/12/2016     1000         45          365       2260       3205       16340        NaN
4       LoanID_4  Product A           Male  Location 26  Region 2     17600.0         NaN     2200         45          365       3141       4166       16321     Active
5       LoanID_5  Product B         Female  Location 34  Region 3     21250.0  28/10/2017     2200         55          365       3570       4745       14720     Active

In [138]:
lending_co_data.iloc[1000,:]

StringID               LoanID_1001
Product                  Product D
CustomerGender              Female
Location               Location 73
Region                    Region 2
TotalPrice                 22950.0
StartDate               21/08/2019
Deposit                       5000
DailyRate                       55
TotalDaysYr                    365
AmtPaid36                     5150
AmtPaid60                     7192
AmtPaid360                   22267
LoanStatus        Finished Payment
Name: 1001, dtype: object

In [140]:
lending_co_data.iloc[:,13].head()

LoanID
1    Active
2    Active
3       NaN
4    Active
5    Active
Name: LoanStatus, dtype: object

In [141]:
lending_co_data.iloc[:,-1].head()

LoanID
1    Active
2    Active
3       NaN
4    Active
5    Active
Name: LoanStatus, dtype: object

In [143]:
lending_co_data["TotalPrice"].iloc[0]

np.float64(17600.0)

In [144]:
lending_co_data["TotalPrice"][1]   #if u r not using iloc then correctly specify the index value of first row...here it is loan id that is 1

np.float64(17600.0)

In [146]:
lending_co_data["TotalPrice"][5]

np.float64(21250.0)

In [147]:
lending_co_data["TotalPrice"].loc[1]  #loc is a label based accessor and here 1 is the label of first row

np.float64(17600.0)

In [148]:
import pandas as pd
filename=r"D:\dataanalyst\Data Analyst Course\S10 - Working with Text Files\L11\Lending-company.csv"
data=pd.read_csv(filename,index_col='StringID')
lending_co_data=data.copy()
print(lending_co_data.head())

          LoanID    Product CustomerGender     Location    Region  TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  AmtPaid360 LoanStatus
StringID
LoanID_1       1  Product B         Female   Location 3  Region 2     17600.0  04/07/2018     2200         45          365       3221       4166       14621     Active
LoanID_2       2  Product D         Female   Location 6  Region 6         NaN  02/01/2019     2200         45          365       3161       4096       16041     Active
LoanID_3       3  Product B           Male   Location 8  Region 3     16600.0  08/12/2016     1000         45          365       2260       3205       16340        NaN
LoanID_4       4  Product A           Male  Location 26  Region 2     17600.0         NaN     2200         45          365       3141       4166       16321     Active
LoanID_5       5  Product B         Female  Location 34  Region 3     21250.0  28/10/2017     2200         55          365       3570       4745       14720     Active

In [149]:
lending_co_data["TotalPrice"].iloc[0]

np.float64(17600.0)

In [150]:
lending_co_data["TotalPrice"].loc["LoanID_1"]

np.float64(17600.0)

In [158]:
lending_co_data["TotalPrice"]["LoanID_1"]

np.float64(17600.0)

In [156]:
lending_co_data["TotalPrice"][0]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24640\4026714254.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_co_data["TotalPrice"][1]

np.float64(nan)

In [159]:
lending_co_data.iloc[0][5]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24640\1538933843.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_co_data.iloc[0][5]

np.float64(17600.0)

In [160]:
lending_co_data.iloc[0,5]

np.float64(17600.0)

In [163]:
lending_co_data.loc[["LoanID_3","LoanID_6"],:]

          LoanID    Product CustomerGender     Location    Region  TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  AmtPaid360 LoanStatus
StringID
LoanID_3       3  Product B           Male   Location 8  Region 3     16600.0  08/12/2016     1000         45          365       2260       3205       16340        NaN
LoanID_6       6  Product A           Male  Location 34  Region 1         NaN  19/04/2019     2200         45          365       3301       4066       15141     Active

In [166]:
lending_co_data["TotalPrice"].iloc[[0,5]]

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64

In [170]:
lending_co_data.TotalPrice["LoanID_1"]

np.float64(17600.0)

In [172]:
lending_co_data.loc[:,"TotalPrice"].iloc[[0,5]]

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64