Working with text data and argument specifiers

In [ ]:
argument specifiers and modulo operations

In [1]:
product_category='A'

In [5]:
print("This item is from product category '%s'" %product_category)

This item is from product category 'A'

In [20]:
name='rizwan'
print("My name is %s"%name)

My name is rizwan

In [22]:
product_category=['A','B']

In [23]:
print("This item is from product category '%s'" %product_category)

This item is from product category '['A', 'B']'

In [24]:
print("This item is from product category '%s'" %product_category[0])

This item is from product category 'A'

In [25]:
print("This item is from product category '%s'" %product_category[1])

This item is from product category 'B'

In [26]:
quantities=[500,600]

In [27]:
print("We have %d available units of items."%quantities[0])

We have 500 available units of items.

In [32]:
stocks=[50.5,40.4]
print("this stock is %.f cost per share"%stocks[0])      #.f=integer   .1f =1 point   .2f=2 points etc....

this stock is 50 cost per share

In [38]:
i=0
print("Currently we have %d units of category %s products in store."%(quantities[i],product_category[i]))

Currently we have 500 units of category A products in store.

In [39]:
name='rizwan'
age=21
place='adoor'
colledge='tkmit'
print("My name is %s.I'm %d years of age.I'm from %s.I'm studying in %s"%(name,age,place,colledge))

My name is rizwan.I'm 21 years of age.I'm from adoor.I'm studying in tkmit

manipulating python strings

In [44]:
#newline :- \n
print("hello \nhow are you")
#new tab :- \t
print("hello \thow are you")
#carriage return:- \r  #it will replace the first characters with the added one
print("hello how are you \rhaaai")

hello
how are you
hello 	how are you
haaai how are you

String methods
1.upper()
2.lower()
3.title()
4.capitalize()
5.strip(),lstrip(),rstrip()
6.startswith()
7.endswith()
8.split()
9.replace(old,new)
9.count(letter,start,end)
10.isalpha()
11.isdigit()
12.join()
13.find(sub,start,end)

In [45]:
s1='Mrs. Amy Moore'

In [46]:
s1.upper()

'MRS. AMY MOORE'

In [47]:
s1.lower()

'mrs. amy moore'

In [48]:
s1.title() #it will return a string with first character of each words as capital

'Mrs. Amy Moore'

In [49]:
s1.capitalize() #it will return a string with first character as capital.and remaining will be small

'Mrs. amy moore'

In [50]:
s2='   quarterly earnings report    '

In [51]:
s2.strip() #it will remove all the unnecessary spaces from the beginning and ending of the string.

'quarterly earnings report'

In [52]:
s2.strip(' ')

'quarterly earnings report'

In [53]:
s2.strip(' r')

'quarterly earnings report'

In [54]:
s2.strip(' qt')

'uarterly earnings repor'

In [56]:
s2.strip(' qt ')

'uarterly earnings repor'

In [57]:
s2.lstrip()

'quarterly earnings report    '

In [58]:
s2.rstrip()

'   quarterly earnings report'

In [62]:
s2.strip(' quarterly')

'nings repo'

In [63]:
s2.lstrip(' quarterly')

'nings report    '

In [66]:
s3=s2.strip()
s3

'quarterly earnings report'

In [68]:
s3.lstrip('quartely')

' earnings report'

In [69]:
s3.rstrip('report')

'quarterly earnings '

In [70]:
s4=' %&!quartely earnings report  *'
s4.strip(' !@#$^%&*()')

'quartely earnings report'

In [72]:
s5="Hello world"
s5.startswith('Hello')

True

In [73]:
s5.endswith('world')

True

In [74]:
words=s5.split()
words

['Hello', 'world']

In [75]:
words=s5.split(' ')
words

['Hello', 'world']

In [76]:
words=s5.split(' ',maxsplit=0)
words

['Hello world']

In [77]:
words=s5.split(' ',0) #it is same as maxsplit=0
words

['Hello world']

In [81]:
s5.split(' ')[0]

'Hello'

In [82]:
s5.replace('Hello','Hai')

'Hai world'

In [83]:
s8="Hello"
s8.count('l')

2

In [88]:
s8.count('e',2,5)  #letter,start,end

0

In [89]:
s8.isalpha()

True

In [90]:
s8.isdigit()

False

In [91]:
'321'.isdigit()

True

In [92]:
words=['hi','there']
"".join(words)

'hithere'

In [93]:
s9="Hello rizwan"
s9.find('riz')

6

String Accessors

In [94]:
import pandas as pd

In [110]:
operational_kpis=pd.Series(["Employee satisfaction rating","Employee churn rate"])
operational_kpis

0    Employee satisfaction rating
1             Employee churn rate
dtype: object

In [97]:
operational_kpis[0].lstrip('Employee')

' satisfaction rating'

In [102]:
operational_kpis[1].lstrip('Employee')

' churn rate'

In [103]:
pd.Series([operational_kpis[0].lstrip('Employee'),operational_kpis[1].lstrip('Employee')])

0     satisfaction rating
1              churn rate
dtype: object

In [106]:
operational_kpis

0    Employee satisfaction rating
1             employee churn rate
dtype: object

In [104]:
#series.str :- it will convert elements of series into a strings to apply methods.
operational_kpis.str[1] #it will convert the elements of series to string and it will give only 1st 
                        #element that is m

0    m
1    m
dtype: object

In [105]:
operational_kpis[1]

'employee churn rate'

In [107]:
operational_kpis

0    Employee satisfaction rating
1             employee churn rate
dtype: object

In [112]:
operational_kpis.str.lstrip('Employee')

0     satisfaction rating
1              churn rate
dtype: object

In [113]:
test_series=pd.Series(['Text_Data',34])
test_series

0    Text_Data
1           34
dtype: object

In [115]:
test_series.str.lstrip('Text_')

0    Data
1     NaN
dtype: object

In [116]:
test_series=pd.Series(['Text_Data','34'])
test_series

0    Text_Data
1           34
dtype: object

In [117]:
test_series.str.lstrip('Text_')

0    Data
1      34
dtype: object

In [118]:
house_prices=pd.Series(['$45000','$50000','$60000'])
house_prices

0    $45000
1    $50000
2    $60000
dtype: object

In [119]:
house_prices.str.contains('$')

0    True
1    True
2    True
dtype: bool

In [120]:
house_prices.str.count('0')

0    3
1    4
2    4
dtype: int64

exercise
Use the relevant string accessor twice – once with the .split() method and indexing (within parentheses) to remove the first names of all individuals in the provided Series. Store the obtained output in a new variable called last_names.

In [130]:
import pandas as pd;
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names=names.str.split().str[1]
last_names

0       Peterson
1    Fitzpatrick
2           Cruz
dtype: object

In [124]:
name='rizwan'
age=19
print("My name is {} and im {} years of age".format(name,age)

My name is rizwan and im 19 years of age

In [126]:
name='rizwan'
age=21
print(" im {1} years of age and My name is {0}".format(name,age))

 im 21 years of age and My name is rizwan

In [127]:
print(" im {age} years of age and My name is {name}".format(name='rizwan',age=21))

 im 21 years of age and My name is rizwan